@font-face {
    font-family: "Avenir-LT-Std";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    src: local("Avenir-LT-Std"), url("./fonts/AvenirLTStd-Roman.otf") format("otf");
}

@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    src: local("Gilroy"), url("./fonts/Gilroy-ExtraBold.otf") format("otf");
}

@font-face {
    font-family: "SFProText";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    src: local("SFProText"), url("./fonts/FontsFree-Net-SFProText-Regular-1.ttf") format("otf");
}

body {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 20px;
}

header {
    position: absolute;
    top: 659px;
    left: 223px;
    line-height: 48px;
    color: #0B2239;
}

.origin {
    height: 48px;
    opacity: 0.3;
    display: flex;
    align-items: center;
}

.article-name {
    height: 133px;
    font-weight: 900;
    font-size: 110px;
    line-height: 133px;
    display: flex;
    align-items: center;
}

section {
    position: relative;
    top: 1109px;
    left: 223px;
    width: 1488px;
    height: 1430px;
    font-weight: 400;
    font-size: 25px;
}

section>span {
    opacity: 0.3;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
}

.container-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-column-start {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.container-column-end {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.container-row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container-row-start {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.items {
    flex: none;
    order: 0;
    flex-grow: 0;
}

.frame148 {
    justify-items: stretch;
    padding: 0px;
    gap: 72px;
    position: absolute;
    width: 1440px;
    height: 990px;
    left: 24px;
    top: 228px;
}

.frame146 {
    padding: 0px;
    gap: 24px;
    width: 1440px;
    height: 148px;
    flex-basis: content;
}

.a01 {
    justify-content: center;
    width: 1440px;
    height: 72px;
    background: #0B2239;
}

.a01>.frame72 {
    padding: 0px;
    gap: 32px;
    position: relative;
    width: 1200px;
    height: 40px;
    /* left: calc(50% - 1200px/2);
    top: calc(50% - 40px/2); */
}

.frame72>p {
    width: 922px;
    height: 40px;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 1;
}

.frame73 {
    justify-content: center;
    padding: 0px;
    gap: 10px;
    width: 246px;
    height: 36px;
    order: 1;
}

.frame70 {
    justify-content: center;
    padding: 8px 10px;
    gap: 10px;
    width: 106px;
    height: 36px;
    border-radius: 2px;
}

.frame70>p {
    width: auto;
    height: 20px;
    font-weight: 600;
    font-size: 12px;
    text-decoration-line: underline;
    color: #4AD295;
}

.frame71 {
    justify-content: center;
    padding: 8px 10px;
    gap: 10px;
    width: 130px;
    height: 36px;
    background: #4AD295;
    border-radius: 2px;
    order: 1;
}

.frame71>p {
    width: auto;
    height: 20px;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
}

.a02 {
    justify-content: center;
    width: 1440px;
    height: 52px;
    background: #2B2627;
    box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15), 0px 0px 1px rgba(96, 96, 96, 0.1);
    order: 1;
}

.a02>.frame72 {
    padding: 0px;
    gap: 20px;
    position: relative;
    width: 749px;
    height: 20px;
    /* left: calc(50% - 749px/2);
    top: calc(50% - 20px/2);  */
}

.frame93 {
    padding: 0px;
    gap: 8px;
    width: 713px;
    height: 20px;
}

.image11 {
    width: 16px;
    height: 16px;
    background: url(./imgs/image\ 11.png);
}

.frame93>p {
    width: 689px;
    height: 20px;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
}

.image10 {
    width: 16px;
    height: 16px;
    background: url(./imgs/image\ 10.png);
    flex: none;
    order: 1;
}

.frame147 {
    padding: 0px;
    gap: 24px;
    width: 560px;
    height: 160px;
    flex-basis: content;
    order: 1;
}

.b01 {
    justify-content: flex-start;
    padding: 16px;
    gap: 10px;
    width: 580px;
    height: 72px;
    background: #FFFFFF;
    box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15), 0px 0px 1px rgba(96, 96, 96, 0.1);
    border-radius: 16px;
}

.frame {
    justify-content: center;
    padding: 8px;
    gap: 10px;
    width: 36px;
    height: 36px;
    background: rgba(234, 76, 137, 0.1);
    border-radius: 10px;
}

.vector {
    width: 20px;
    height: 20px;
    background: url(./imgs/Vector.png);
}

.b01>p {
    width: 347px;
    height: 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    justify-content: left;
    color: #0D0C22;
    flex: none;
    order: 1;
    flex-grow: 1;
}

.b01>.frame70 {
    justify-content: center;
    padding: 4px 10px;
    gap: 10px;
    width: 63px;
    height: 28px;
    background: rgba(13, 12, 34, 0.05);
    border-radius: 8px;
    order: 2;
}

.b01>.frame70>p {
    width: 43px;
    height: 20px;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #0D0C22;
}

.b01>.frame71 {
    justify-content: center;
    padding: 4px 10px;
    gap: 10px;
    width: 52px;
    height: 28px;
    background: #EA4C89;
    border-radius: 8px;
    order: 3;
}

.b01>.frame71>p {
    width: 32px;
    height: 20px;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
}

.b02 {
    justify-content: center;
    padding: 12px 16px;
    gap: 22px;
    width: 580px;
    height: 64px;
    background: #26262B;
    box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.3), 0px 0px 1px rgba(96, 96, 96, 0.2);
    border-radius: 10px;
    font-family: 'Avenir LT Std';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    order: 1;
}

.b02>p {
    width: 469px;
    height: 40px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 1;
}

.b02>.frame71 {
    padding: 4px 10px;
    gap: 10px;
    width: 49px;
    height: 28px;
    background: #FFFFFF;
    border-radius: 8px;
    order: 1;
}

.b02>.frame71>p {
    width: 29px;
    height: 20px;
    color: #26262B;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.frame150 {
    font-family: 'Roboto';
    font-style: normal;
    line-height: 20px;
    padding: 0px;
    gap: 24px;
    width: 840px;
    height: 206px;
    flex-basis: content;
    order: 2;
}

.frame149 {
    padding: 0px;
    gap: 40px;
    width: 840px;
    height: 206px;
    flex-basis: content;
}

.c01 {
    padding: 24px;
    gap: 16px;
    width: 360px;
    height: 206px;
    background: rgba(28, 37, 64, 0.95);
    box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15), 0px 0px 1px rgba(96, 96, 96, 0.1);
    border-radius: 6px;
    flex: content;
}

.frame5 {
    padding: 0px;
    gap: 10px;
    width: 360px;
    height: 110px;
    flex-basis: min-content;
    align-self: stretch;
}

.frame5>img {
    width: 121px;
    height: 18px;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.frame5>p {
    width: 360px;
    height: 80px;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.frame4 {
    justify-content: space-between;
    padding: 0px;
    width: 360px;
    height: 32px;
    flex-basis: min-content;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.c01>.frame4>p {
    width: 160px;
    height: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    gap: 8px;
    text-align: left;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.c01>.frame4>.frame3 {
    justify-content: center;
    padding: 8px 20px;
    gap: 10px;
    width: 85px;
    height: 32px;
    background: #09B3AF;
    box-shadow: 0px 2px 2px -2px rgba(34, 38, 50, 0.3);
    border-radius: 6px;
    align-self: stretch;
    order: 1;
}

.frame3>p {
    width: 45px;
    height: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.c03 {
    padding: 16px;
    gap: 6px;
    width: 360px;
    height: 170px;
    background: #FFFFFF;
    box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15), 0px 0px 1px rgba(96, 96, 96, 0.1);
    border-radius: 16px;
    order: 1;
}

.c03>.frame5 {
    padding: 0px;
    gap: 10px;
    width: 328px;
    height: 90px;
    align-self: stretch;
}

.c03>.frame5>img {
    width: 132px;
    height: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #0F181D;
}

.c03>.frame5>p {
    width: 360px;
    height: 60px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #687F8C;
    order: 1;
    align-self: stretch;
}

.c03>.frame4 {
    padding: 0px;
    gap: 8px;
    width: 328px;
    height: 32px;
    order: 1;
    align-self: stretch;
}

.frame2 {
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 10px;
    width: 160px;
    height: 32px;
    background: #EAF0F4;
    box-shadow: 0px 2px 2px -2px rgba(34, 38, 50, 0.3);
    border-radius: 6px;
    flex-grow: 1;
}

.frame2>p {
    width: 144px;
    height: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #687F8C;
    flex-grow: 1;
}

.c03>.frame4>.frame3 {
    justify-content: center;
    padding: 8px;
    gap: 10px;
    width: 160px;
    height: 32px;
    background: #40C1A7;
    box-shadow: 0px 2px 2px -2px rgba(34, 38, 50, 0.3);
    border-radius: 6px;
    order: 1;
    flex-grow: 1;
}

.c03>.frame4>.frame3>p {
    width: 144px;
    height: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    flex-grow: 1;
}

.frame152 {
    padding: 0px;
    gap: 24px;
    width: 680px;
    height: 260px;
    flex-basis: content;
    order: 3;
}

.frame151 {
    padding: 0px;
    gap: 40px;
    width: 680px;
    height: 280px;
}

.d01 {
    padding: 32px;
    gap: 32px;
    width: 320px;
    height: 260px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(186, 226, 255, 0.15) 23.96%, rgba(229, 217, 255, 0.15) 71.87%, rgba(255, 255, 255, 0.15) 100%), #FFFFFF;
    box-shadow: 0px 8px 32px rgba(10, 3, 89, 0.1);
    border-radius: 20px;
    justify-content: center;
}

.frame99 {
    justify-content: center;
    padding: 0px;
    width: 256px;
    height: 120px;
    padding: 0;
    /* align-self: stretch; */
}

.frame99>#cookies {
    width: 104px;
    height: 48px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 24px;
    text-align: center;
    color: #15295A;
    margin-bottom:  0;
    order: 0;
}

.frame99>#using {
    width: 256px;
    height: 72px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #15295A;
    flex: none;
    order: 1;
}

.d01>.frame71 {
    padding: 10px 32px;
    gap: 10px;
    width: 121px;
    height: 44px;
    background: #4A7EFF;
    border-radius: 43px;
    justify-content: center;
    order: 1;
}

.d01>.frame71>p {
    width: 57px;
    height: 24px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
}

.d02 {
    padding: 16px;
    gap: 12px;
    width: 320px;
    height: 137px;
    background: #FFFFFF;
    box-shadow: 0px 8px 32px rgba(10, 3, 89, 0.1);
    font-family: 'SFProText';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    border-radius: 4px;
    order: 1;
}

.d02>p {
    width: 288px;
    height: 60px;
    color: #000000;
    /* flex: none;
    order: 0; */
    /* align-self: stretch; */
}

.d02>.frame4 {
    justify-content: space-between;
    padding: 0px;
    gap: 8px;
    width: 288px;
    height: 33px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    order: 1;
    align-self: stretch;
}

.d02>.frame4>p {
    width: 95px;
    height: 17px;
    text-align: center;
    color: #6666FF;
    /* flex: none;
    order: 0;
    flex-grow: 0; */
}

.d02>.frame4>.frame3 {
    justify-content: center;
    padding: 8px;
    gap: 10px;
    width: 64px;
    height: 33px;
    background: #6666FF;
    border-radius: 4px;
    order: 1;
}

.d02>.frame4>.frame3>p {
    width: 48px;
    height: 17px;
    text-align: center;
    color: #FFFFFF;
    /* flex: none;
    order: 0;
    flex-grow: 0; */
}